@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.menu-list {
  width: 220px;

  .menu-item {
    margin-left: 0;
  }
}

.menu-wrapper {
  padding: 8px 0px;
}

.menu-item {
  width: 100%;
  padding: 10px 8px 10px 16px;
  border-radius: 0;
  background-color: var(--white);
  text-align: left;
  margin-bottom: 0;

  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}
